body{
  overflow-x: hidden;
  font-family: museo-sans, sans-serif;
}

.navbar-nav .nav-item {
    margin-right: 100px; /* Adjust the spacing between each item */
  }
  .Background{
    background-image: url(images/Home-Hero-2024-RA-1x.webp);
 height: 550px;
background-size: cover;
/* width: 100%; */
position: relative;
}
@media (max-width: 768px) {
  .Background {
    background-position: bottom;
    
  }
}
.text1{
  color: white;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: 100px;
  left: 50px;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .text1{
    font-size: 25px;
left: 100px;  
top: 50px;
}
}
.text3{
  color: white;
  font-size: 18px;
  position: absolute;
  top: 200px;
  left: 50px;
}
@media screen and (max-width: 768px) {
  .text3{
    font-size: 15px;
    text-align: center;
    top: 100px;
    left: 5px;
  }
}
.button{
  background-color: #000083;
  color: white;
  border: none;
  padding:13px;
  font-size: 18px;
  position: absolute;
  top:320px ;
  width: 250px;
  left: 50px;
}
@media screen and (max-width: 768px) {
  .button{
    top: 200px;
    left: 120px;
    font-size: 10px;
    width: 130px;
    padding: 10px;
  }
}
.button1{
  background-color: #000083;
  color: white;
  border: none;
  padding:5px 5px;
  font-size: 15px;
  width: 200px;
}
@media screen and (max-width: 768px) {
  .button1{
    font-size: 10px;
    width: 150px;
  
  }
}
.button:hover{
  background-color: rgb(83, 83, 199);
}
.container1{

  margin-top: 100px;
  /* display: grid;
  grid-template-columns: 30% 30% 30%;
  /* justify-content: space-around; */
  /* column-gap: 10px;
  margin-left: 70px; */ 

  }
  .img1{
    width: 200px;
  }
  @media screen and (max-width: 768px) {
    .img1{
      width: 100px;
    }
  }
  .publish{
    font-size: 25px;
    font-weight: bold;
  }
  @media screen and (max-width: 768px) {
    .publish{
      font-size: 20px;
    }
  }
  .custom{
    font-size: 18px; 
  }
  @media screen and (max-width: 768px) {
    .custom{
      font-size: 10px;
    }
  }

  .background1{
    background-image: url(images/pricingcalc-main-banner-as-image-banner-1x.webp);
    height: 500px;
    position: relative;
  }
  @media screen and (max-width: 768px) {
    .background1{
      height: 300px;

    }
  }
  
  .book{
    position: absolute;
    top:120px ;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-left: 50px;
    
  }
  .quality{
    position: absolute;
    top: 160px;
    color: white;
     margin-left: 50px; 
    font-size: 20px;
     /* line-height: 1px;  */
  }
 
  @media screen and (max-width: 768px) {
    .quality{
      font-size: 10px;
      top: 150px;
      text-align: center;
      left: 20px;
      
    }
  }
  @media screen and (max-width: 768px) {
    .book{
      left: 30px;
      font-size: 18px;
    }
  }

  .background2{
    background-image: url(images/lulu-direct-image-banner.webp);
    height: 350px;
    position: relative;
    background-size: cover;
  }
  @media screen and (max-width: 768px) {
    .background2{
      height: 250px;
      top: 20px;
      background-position: center;

    }
  }
  .books{
    position: absolute;
    top:50px ;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
  }
  .booksa{
    position: absolute;
    top:50px ;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
  }
  .lulu{
    position: absolute;
    top: 100px;
    color: white;
     margin-left: 50px; 
    font-size: 20px;
  }
  .button3{
    position: absolute;
    top:270px ;
    left: 50px;
    background-color: #000083;
  color: white;
  border: none;
  padding:10px;
  font-size: 15px;
  border-radius: 2px;
  width: 150px;
  }
  .button3:hover, .button4:hover, .button8:hover, .button7:hover{
    background-color: rgb(83, 83, 199);
  }
  @media screen and (max-width: 768px) {
    .lulu{
      font-size: 10px;
      top: 85px;
    }
  }
  @media screen and (max-width: 768px) {
    .button3{
      left: 50px;
      top: 170px;
      font-size: 10px;
      width: 100px;
      padding: 5px;
    }
  }
  .background3{
    background-image: url(images/lulu-print-api-image-banner.webp);
    height: 310px;
    position: relative;
    background-size: cover;
    top: 70px;
  }
  @media screen and (max-width: 768px) {
    .background3{
      height: 250px;
      top: 40px;
      background-position: center;
    }
  }
  .button4{
    position: absolute;
    top:240px ;
    left: 50px;
    background-color: #000083;
  color: white;
  border: none;
  padding:10px;
  font-size: 15px;
  border-radius: 2px;
  width: 230px;
  }
  .button5{
    position: absolute;
    top:280px ;
    left: 50px;
    background-color: #6262f3;
  color:rgb(11,0,131);
  border: none;
  padding:10px;
  font-size: 15px;
  border-radius: 2px;
  width: 150px;
  }
  @media screen and (max-width: 768px) {
    .button5{
      top: 220px;
      left: 130px;
      font-size: 10px;
      width: 100px;
      padding: 5px;
    }
  }
  .button6{
    position: absolute;
    top:180px ;
    left: 15px;
    background-color: #6262f3;
  color:rgb(11,0,131);
  border: none;
  padding:10px;
  font-size: 15px;
  border-radius: 2px;
  width: 150px;
  }
  @media screen and (max-width: 768px) {
    .button6{
          left: 20px;
          top: 150px;
          font-size: 10px;
          width: 100px;
          padding: 5px;
        }
      }
  .button5:hover, .button6:hover{
    background-color: rgb(148, 148, 219);
  }
  @media screen and (max-width: 768px) {
    .button4{
      left: 50px;
      top: 170px;
      font-size: 10px;
      width: 150px;
    }
  }
  @media screen and (max-width: 768px) {
    .booksa{
      font-size: 20px;
    }
  }
  @media screen and (max-width: 768px) {
    .books{
      font-size: 20px;
    }
  }
  .background4{
      background-image: url(images/lulu-guides-and-templates-image-banner.webp);
      height: 310px;
      position: relative;
      background-size: cover;
      top: 120px;
    }
    @media screen and (max-width: 768px) {
      .background4{
        height: 250px;
        top: 60px;
        background-position: center;
      }
    }
    .guide{
      position: absolute;
      top: 50px;
      color: white;
      left: 22px; 
      font-size: 30px;
      font-weight: bold;
    }
    @media screen and (max-width: 768px) {
      .guide{
        font-size: 20px;
      }
    }
    .get{
      position: absolute;
      top: 100px;
      color: white;
      left: 20px; 
      font-size: 20px;
    }
    @media screen and (max-width: 768px) {
      .get{
        font-size: 10px;
        top: 90px;
        
      }
    }
  
  .background5{
    background-image: url(images/lulu-bookstore-image-banner.webp);
    height: 310px;
    position: relative;
    background-size: cover;
    top: 180px;
  }
@media screen and (max-width: 768px) {
    .background5{
      height: 230px;
      top: 80px;
      background-position: center;

    }
  }
  .bookstore{
    position: absolute;
    top: 50px;
    color: white;
     left: 25px; 
    font-size: 30px;
    font-weight: bold;
  }
  @media screen and (max-width: 768px) {
    .bookstore{  
      font-size: 20px;
    }
  }
  .novels{
    position: absolute;
    top: 100px;
    color: white;
     margin-left: 50px; 
    font-size: 20px;
  }
  @media screen and (max-width: 768px) {
    .novels{  
      font-size: 10px;
      margin-left: 20px;
      top: 90px;
    }
  }
  .button7{
    position: absolute;
    top:180px ;
    left: 50px;
    background-color: #000083;
  color:white;
  border: none;
  padding:10px;
  font-size: 15px;
  border-radius: 2px;
  width: 130px;
  }
  @media screen and (max-width: 768px) {
    .button7{
      left: 20px;
      top: 150px;
      font-size: 10px;
      width: 100px;
      padding: 5px;
    }
  }
  .background6{
    background-color:#a41cad;
    background-image: url(images/lulu-account-registration-computer.webp);
    height: 310px;
    position: relative;
    background-size: cover;
    top: 230px;
  }
  @media screen and (max-width: 768px) {
    .background6{  
     top: 110px;
     height: 250px;

    }
  }

  .started{
    position: absolute;
    top: 60px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    left: 25px;
  }
  @media screen and (max-width: 768px) {
    .started{  
      font-size: 20px;
      top: 50px;
    }
  }
  .free{
    position: absolute;
    top: 110px;
    color: white; 
    font-size: 20px;
    left: 25px;
  }
  @media screen and (max-width: 768px) {
    .free{  
      font-size: 10px;
      top: 90px;
    }
  }
  .button8{
    position: absolute;
    top:230px ;
    background-color: #000083;
  color:white;
  border: none;
  padding:10px;
  font-size: 15px;
  border-radius: 2px;
  width: 230px;
  left: 25px;
  }
  @media screen and (max-width: 768px) {
    .button8{
      top: 160px;
      font-size: 10px;
      width: 180px;
      padding: 5px;
    }
  }